<a href="https://colab.research.google.com/github/2303A51876/BT-14_1876_Python-for-DS/blob/main/LAB-4%20ASSIGNMENTS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#LAB-4 ASSIGNMENT-1
# Q1: Student Marks Analysis

import pandas as pd

# Create sample dataset inside the code
data = {
    "Student_ID": [1, 2, 3, 4, 5],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Math": [90, None, 70, 88, None],
    "Science": [85, 78, None, 92, 80],
    "English": [88, 76, 79, None, 95]
}
df = pd.DataFrame(data)

print("Original Data:")
print(df)

# Fill missing values with column-wise mean
df.fillna(df.mean(numeric_only=True), inplace=True)

print("\nData after filling missing marks:")
print(df)

# Filter students scoring > 75 in all subjects
high_achievers = df[(df["Math"] > 75) & (df["Science"] > 75) & (df["English"] > 75)]

print("\nHigh Achievers (scored > 75 in all subjects):")
print(high_achievers)

Original Data:
   Student_ID     Name  Math  Science  English
0           1    Alice  90.0     85.0     88.0
1           2      Bob   NaN     78.0     76.0
2           3  Charlie  70.0      NaN     79.0
3           4    David  88.0     92.0      NaN
4           5      Eva   NaN     80.0     95.0

Data after filling missing marks:
   Student_ID     Name       Math  Science  English
0           1    Alice  90.000000    85.00     88.0
1           2      Bob  82.666667    78.00     76.0
2           3  Charlie  70.000000    83.75     79.0
3           4    David  88.000000    92.00     84.5
4           5      Eva  82.666667    80.00     95.0

High Achievers (scored > 75 in all subjects):
   Student_ID   Name       Math  Science  English
0           1  Alice  90.000000     85.0     88.0
1           2    Bob  82.666667     78.0     76.0
3           4  David  88.000000     92.0     84.5
4           5    Eva  82.666667     80.0     95.0

In [6]:
#LAB-4 ASSIGNMENT-2
# Q2: Hospital Patient Records

import pandas as pd
# Create sample dataset inside the code
patients_data = {
    "Patient_ID": [101, 102, 103, 104, 105],
    "Name": ["Anita", "Ravi", "Sita", "Maya", "John"],
    "Age": [60, None, 55, 70, 40],
    "Gender": ["Female", "Male", "Female", "Female", "Male"],
    "Diagnosis": ["Diabetes", "Cancer", "Diabetes", "Diabetes", "Flu"],
    "Admission_Date": ["2025-08-01", "2025-08-03", "2025-08-04", "2025-08-05", "2025-08-06"]
}
patients = pd.DataFrame(patients_data)

print("Original Data:")
print(patients)

# Replace missing Age values with median
patients["Age"].fillna(patients["Age"].median(), inplace=True)

print("\nData after filling missing Age values:")
print(patients)
# Filter: Female patients aged > 50 diagnosed with Diabetes
filtered_patients = patients[
    (patients["Gender"].str.lower() == "female") &
    (patients["Age"] > 50) &
    (patients["Diagnosis"].str.lower() == "diabetes")
]
print("\nElderly Female Patients with Diabetes:")
print(filtered_patients)

Original Data:
   Patient_ID   Name   Age  Gender Diagnosis Admission_Date
0         101  Anita  60.0  Female  Diabetes     2025-08-01
1         102   Ravi   NaN    Male    Cancer     2025-08-03
2         103   Sita  55.0  Female  Diabetes     2025-08-04
3         104   Maya  70.0  Female  Diabetes     2025-08-05
4         105   John  40.0    Male       Flu     2025-08-06

Data after filling missing Age values:
   Patient_ID   Name   Age  Gender Diagnosis Admission_Date
0         101  Anita  60.0  Female  Diabetes     2025-08-01
1         102   Ravi  57.5    Male    Cancer     2025-08-03
2         103   Sita  55.0  Female  Diabetes     2025-08-04
3         104   Maya  70.0  Female  Diabetes     2025-08-05
4         105   John  40.0    Male       Flu     2025-08-06

Elderly Female Patients with Diabetes:
   Patient_ID   Name   Age  Gender Diagnosis Admission_Date
0         101  Anita  60.0  Female  Diabetes     2025-08-01
2         103   Sita  55.0  Female  Diabetes     2025-08-04
3         104   Maya  70.0  Female  Diabetes     2025-08-05

/tmp/ipython-input-4159081254.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patients["Age"].fillna(patients["Age"].median(), inplace=True)